@model online.Product

@{
    ViewBag.Title = "Details";
    var im = @Model.Images;
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
 
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Images)
        </dt>

        <dd>
            <img src="@Url.Content(@Model.Images)" alt="ssdd" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BidAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuctionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuctionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ImageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
