@model online.Product

@{
    ViewBag.Title = "Details";
    var im = @Model.Images;
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
 
    <dl>
        <dt>@Html.DisplayNameFor(model => model.ProductName)</dt>
        <dt>@Html.DisplayNameFor(model => model.ProductName)</dt>
        <dt>@Html.DisplayNameFor(model => model.ProductName)</dt>
        <dt>@Html.DisplayNameFor(model => model.ProductName)</dt>
        <dt>@Html.DisplayNameFor(model => model.ProductName)</dt>
        <dt>@Html.DisplayNameFor(model => model.ProductName)</dt>
    </dl>
    <dl class="dl-horizontal">
        @*<dt align="center">
            <br />
            <br />
            @Html.DisplayNameFor(model => model.Images)
        </dt>*@

       

        @*<dt align="center">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>*@

        <dd align="center">
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        @*<dt align="center">
            @Html.DisplayNameFor(model => model.ProductDescp)
        </dt>*@

        <dd align="center">
            @Html.DisplayFor(model => model.ProductDescp)
        </dd>

        @*<dt align="center">
            @Html.DisplayNameFor(model => model.BidAmount)
        </dt>*@

        <dd align="center">
            @Html.DisplayFor(model => model.BidAmount)
        </dd>

        @*<dt align="center">
            @Html.DisplayNameFor(model => model.AuctionDate)
        </dt>*@

        <dd align="center">
            @Html.DisplayFor(model => model.AuctionDate)
        </dd>

        @*<dt align="center">
            @Html.DisplayNameFor(model => model.Category)
        </dt>*@

        <dd align="center">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dd align="center">
            @*<img src="../Model.images" alt="ssdd" />*@
            @*<img src="../../images/images (3)185802466.jpg" alt="ssdd">*@
            <img src="@Url.Content(Model.Images)" />
        </dd>
        <dd>
    @Html.EditorFor(model => model.Images, new { htmlAttributes = new { @class = "form-control" } })
</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ImageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
