@model IEnumerable<online.Product>

@{
    ViewBag.Title = "DisplayFashion";
}

<h2>DisplayFashion</h2>


    <h4></h4>
    <hr />
<br />
<div>

    <section class="slide1">
        <div class="wrap-slick1">
            <div class="slick1">
                <div class="item-slick1 item1-slick1" style="background-image: url(../images/jewellary3.jpg);">
                    <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                        <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
                            Online Auction
                        </span>

                        <h2 class="l-text2 t-center">
                            Online Auction
                        </h2>

                        <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
                            New Products
                        </h2>

                        <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
                            Button
                            <a href="login.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                                Log In Now
                            </a>
                        </div>
                    </div>
                </div>

                @*<div class="item-slick1 item2-slick1" style="background-image: url(../images/hero_door_banner_mgws2.jpg);">
                    <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                        <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rollIn">
                            Online Auction
                        </span>


                        <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
                            New Products
                        </h2>

                        <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
                            Button
                            <a href="login.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                                Log In Now
                            </a>
                        </div>
                    </div>
                </div>*@

                @*<div class="item-slick1 item3-slick1" style="background-image: url(../images/1.jpg);">
                        <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                            <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
                                Online Auction
                            </span>
                            <h2 class="l-text2 t-center">
                                Online Auction
                            </h2>

                            <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
                                New Products
                            </h2>

                            <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">
                                Button
                                <a href="login.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                                    Log In Now
                                </a>
                            </div>
                        </div>
                    </div>*@

            </div>
        </div>
    </section>

    <br />
    <br />
    <div class="sec-title p-b-60">
        <h3 class="m-text5 t-center">
            Featured Products
        </h3>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            double price = Convert.ToInt32(item.BidAmount);
            <div style="margin-bottom:30px" class="col-sm-4">

                <div style="margin-bottom:20px">
                    <img src="@Url.Content(item.Images)" height="350" width="450" />
                </div>
                <div class="caption">
                    <h3>
                        @*<a href="#">@item.ProductName</a>*@
                        <a href="~/products/Details/@item.ImageId" class="btn btn-default">Explore</a>
                        <br />
                    </h3>
                    <h4>@price.ToString("F2")$</h4>
                </div>

            </div>
        }
    </div>


    @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ImageId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Images)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Images)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductDescp)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductDescp)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BidAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BidAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AuctionDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AuctionDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.amount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.amount)
            </dd>

        </dl>*@
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
