@model online.Models.Biding

@{
    ViewBag.Title = "EnterAmount";
}

<h2>EnterAmount</h2>

<div>
    <h4>Biding</h4>
    <hr />

    <br />
    @ViewBag.amountError
    @*<dl class="dl-horizontal">@*  
        <br />
        @ViewBag.amountError
        @*<dt>
            @Html.DisplayNameFor(model => model.YourAmount1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YourAmount1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageId)
        </dd>*@

    @*</dl>*@
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
