@model online.AspNetUser

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Index";
    onlineEntities db = new onlineEntities();
    List<RegisteredUser> lists = new List<RegisteredUser>();
    lists = db.RegisteredUsers.ToList();

}

<h2 class="m-text4">All Registered User</h2>

<div>
    <h4></h4>
    <hr />



    <div class="row">
    @foreach (RegisteredUser a in lists)
    {
        <div class="col-sm-3">
            <div>
                @a.Name

                <div>
                    @a.Email
                </div>
                <div>
                    @a.CNIC
                </div>
                <div>
                    @a.Adress
                </div>
                <br />
            </div>
        </div>
    }
      <br>
   



    </div>
    <br />
    </div>
    @*<tr>

    @foreach (RegisteredUser a in lists)
    {

   

        <dt>
            @a.CNIC
        </dt>


        <dd>
            @a.Adress
        </dd>



                <dd>
                    @a.Email
                </dd>
    }

            </tr>
        </div>*@
                @*<dt>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>*@

                @*<dd>
                        @a.PhoneNumber
                    </dd>*@




                @*<dt>
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>*@

                @*<dd>
                        @a.UserName
                    </dd>*@
                @*}*@

          

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
